# Core PyTorch + Audio backend
torch==2.3.0+cu118
torchaudio==2.3.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118

# Thai NLP
pythainlp
deepcut

# Model config / HuggingFace asset loading
omegaconf
cached_path

# Git submodule handling (Install.py)
pygit2

# Vocoder
vocos

# Utils & Visualization
tqdm
numpy
matplotlib
soundfile

# Optional: for saving audio, web interface, CLI tools, and extended training
gradio
click
datasets
jieba
librosa
pydub
pypinyin
wandb
safetensors
tomli

# Transformer & Trainer
transformers
ema_pytorch>=0.5.2
torchdiffeq
x_transformers>=1.31.14
bitsandbytes>0.37.0
torch-time-stretch